.scrollbar {
  background-color: #f5f5f5;
  float: left;
  height: 310px;
  width: 930px;
  margin-bottom: 15px;
  overflow-x: auto;
  overflow-y: hidden;
}

/* .force-overflow {
  min-height: 450px;
} */
.container-tq {
  display: flex;
  height: 100%;
}
.container-tq-left {
  /* flex: 50; */
}
.container-tq-right {
  flex: 50;
}
.title-tq {
  padding-bottom: 7px;
  padding-top: 7px;
}
.tq-show {
  text-align: center;
}
.cb-select {
  width: 100%;
}
